/* GENERAL */
body {
    font-family: 'Raleway', sans-serif;
}

.bold {
    font-weight: bold;
}

.thin {
    font-weight: normal;
}

.fs-small {
    font-size: small;
}

h1, h2 {
    margin: 0px;
    font-size: 1em;
}

.container {
    max-width: 1440px;
    width: 100%;
}

.bloc {
    background-color: #F2F2F2;
}

/* HEADER */

#menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#menu a:hover {
    border-color: #0065FC;
    color: #0065FC;
}

#register a:hover {
    border-color: #0065FC;
    color: #0065FC;
}


#menu a:checked {
    text-decoration: black;
}

#register, #register-mobile {
    color:#0065FC;
    font-weight: bold;
}

#register-parent, #register-mobile, a{
    text-decoration: none;
}

/* BODY */
#first-bloc {
    margin: auto;
}

#first-bloc p {
    line-height: 1.5em;
}

#searcher {
    margin-bottom: 1em;
}

#body-search-btn {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    display: inline-block;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-top-right-radius: .75em;
    border-bottom-right-radius: .75em;
}

#body-search-btn:hover {
    cursor: pointer;
    background-color: #064db8;
}

.filter {
    border: solid;
    border-radius: 3em;
    border-color: #DEEBFF;
    margin: 0.5em;
}

#filtres .df .ai-c {
    width: auto;
}

.filter-text {
    font-weight: bold;
    margin-right: 1em;
}


.filter:hover {
    cursor: pointer;
    background-color: #DEEBFF;
}

#infos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border: 1px solid #DEEBFF ;
    border-radius: 50%;
    margin-right: 0.5em;
}

.hosting-thumbnail-text {
    padding-left: 1em;
    color: black;
}

.hosting-thumbnail:hover {
    transform: scale(1.10);
}

#body-hosting-popular {
    flex-direction: column;
}

#body-hosting-marseille {
    padding-right: 5em;
    padding-left: 2em;
    margin-right: auto;
}

.body-hosting a {
    text-decoration: none;
    color: black;
}

#body-hosting-popular-results {
    display: flex;
    flex-direction: column;
}

.popular-thumbnail {
    background-color: white;
    width: 300px; 
    height: 126px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-width: 1em; 
    padding-top: 3px;
    padding-left: 3px;
}

.popular-thumbnail:hover {
    transform: scale(1.10);
}

.popular-thumbnail:nth-child(1) {
    margin-top: 1em;
    margin-bottom: 1em;
}

.popular-thumbnail:nth-child(2) {
    margin-bottom: 2em;
}

.popular-thumbnail-text {
    padding-top: 1em ; 
    margin-left: 0.5em; 
}

.popular-thumbnail-photo {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 1px;
    width: 100px;
    height: 120px;
    object-fit: cover;
}

.show-more:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.425);
}

/* activités à Marseille */
#body-activity {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.activities-thumbnail-big {
    box-shadow: 0px 9px 19px 2px #F2F2F2;
}

.activities-double a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.activities a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.activities:hover {
    transform: scale(1.05);
}

.thumbnail-mobile:hover {
    transform: scale(1.10);
}

.activity {
    border-radius: 1em;
    box-shadow: 4px 6px 15px -3px #F2F2F2;
}


.activities-thumbnail-text {
    padding-top: 0.75em;
    padding-left: 1em;
}


/* LOGOS */

#logo-gps {
    background-color: #F2F2F2;
    width: 30px; 
    height: 31px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 3px;
}

#logo-gps-pos {
    padding-left: 30%;
    padding-top: 25%;
}

.filter-logo-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF ;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-right: 0.5em;
}

.blue {
    color: #0065FC;
}

.FFFFFF {
    color: #FFFFFF;
}

.afb8c7 {
    color: #afb8c7;
}

.i-logo {
    margin-right: 1em;
}


/* FOOTER */ 

#footer ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
}

#footer ul li {
    line-height: 2;
}


/* FLEXBOX*/

.df {
    display: flex;
}

.jc-fe {
    justify-content: flex-end;
}

.jc-sa {
    justify-content: space-around;
}

.jc-se {
    justify-content: space-evenly;
}

.jc-sb {
    justify-content: space-between;
}

.jc-s {
    justify-content: start;
}

.jc-c {
    justify-content: center;
}

.fd-r {
    flex-direction: row;
}

.fd-rr {
    flex-direction: row-reverse;
}

.fd-c {
    flex-direction: column;
}

.fd-cr {
    flex-direction: column-reverse;
}

.ta-c {
	text-align: center;
}

.ta-j {
	text-align: justify;
}

.ac-fe {
    align-content: flex-end;
}

.ac-c {
    align-content: center;
}

.ac-fs {
    align-content: flex-start;
   }

.as-s {
    align-self: flex-start;
} 

.as-c {
    align-self: center;
}

.as-e {
    align-self: flex-end;
}

.as-s {
    align-self: stretch;
}

.ai-c {
    align-items: center;
}


.fw-w {
    flex-wrap: wrap;
}

/* MOBILE*/ 
@media (max-width: 705px){
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    /*HEADER */

    #header {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 4em;
    }

    #menu {
        display: flex;
        flex-direction: column;
    }

    #menu > a {
        display: flex;
        align-self: flex-end;
        margin-top: 1.5em;
    }

    .menu-anchor {
        position: relative;
        top: 40px;
    }

    .menu-anchor a:nth-child(1) {
        position: relative;
        right: 100px;
    }

    .menu-anchor a:nth-child(2) {
        position: relative;
        left: -50px; 
    }
          
    .menu-anchor a {
        text-decoration: none;
        color: black;
        border-bottom: 3px solid white;
        font-weight: bold;
        padding-bottom: 10px;
    }

    #body {
        margin-top: 1.5em;
    }

    #search {
        border: 0px;
        border-top: 1px solid #F2F2F2;
        border-bottom: 1px solid #F2F2F2;
        margin-top: 1px;
        margin-bottom: 1px;
    }

    #searcher {
        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    #body-search-btn {
        display: none;
    }

    #body-search-btn-mobile {
        display: initial;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0065FC ;
        border-radius: 10px;
        width: 35px;
        margin-right: 0.5em;
        margin-left: -5px;
    }

    /* FIRST BLOC */
    
    #first-bloc {
        text-align: center;
    }

    #first-bloc-text .bold {
        font-size: x-large;
        text-align: center;
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.5em;
        width: 350px;
    }

    #filtres {
        flex-direction: column;
        align-items: flex-start;
    }

    #filter-solo-one {
        width: 160px;
    }

    #filter-solo-two {
        width: 205px;
    }

    #filtres-title {
        margin-left: 0.75em;
    }

    #first-bloc-last-part {
        margin-top: 1em;
        margin-bottom: 2em;
        margin-left: 1em;
        font-size: 15px;
        width: 325px;
        text-align: left;
    }

    #body-hosting {
        flex-direction: column;
    }

    .body-hosting {
        padding-top: 2em;
        height: 525px;
    }

    #body-hosting-popular-results {
        align-self: center;
    }

    #body-hosting-marseille {
        order: 2;
        padding: 0;
        margin: auto;
    }

    #body-hosting-marseille h2 {
        font-weight: bold;
        font-size: x-large;
    }

    #body-hosting-marseille-one, #body-hosting-marseille-two {
        flex-direction: column;
    }

    #body-hosting-popular {
        width: 100%;
        height: 530px;
        margin-bottom: 3em;
        background-color: #F2F2F2;
    }

    #body-hosting-popular-title {
        justify-content: space-between;
        padding: 0 2em;
    }

    #body-hosting-popular  h2{
        font-size: x-large;
    }

    .hosting-thumbnail {
        height: 260px;
        width: 330px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        box-shadow: 1px 1px 5px #F2F2F2;
        margin-top: 1em;
    }

    .hosting-thumbnail-text {
        width: 355px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .hosting-thumbnail-details {
        margin-top: 0.25em;
    }

    .hosting-thumbnail-photo {
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        width: 320px;
        height: 170px;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5px;

    }

    .show-more {
        font-size: large;
        padding-left: 1em;
    }

    #activities-title {
        margin-left: 0.6em;
        font-size: x-large;
        font-weight: bold;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    #activity-activities {
        flex-direction: column;
        align-items: center;
    }

    
    .activities-thumbnail-big {
        height: 230px;
        width: 330px;
        background-color:white;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: 1px 1px 5px #F2F2F2;
    }

    .activities-thumbnail-big-photo {
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        width: 330px;
        height: 180px;
        object-fit: cover;
    }

    .activities-thumbnail-little {
        background-color: white;
        padding-bottom: 1em;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: 3px 1px 5px #F2F2F2;
    }

    
    .activities-thumbnail-little-photo {
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        width: 330px;
        height: 180px;
        object-fit: cover;
    }

    .activities-double {
        margin: 1em;
        height: 475px;
    }

    #footer {
        padding-left: 2em;
        padding-top: 2em;
        flex-direction: column;
    }
}

/* PAD */
@media (min-width:706px) and (max-width: 1414px){
    .container {
        margin: auto;
        padding-left: 1em;
        padding-right: 1em;
    }
    
    header {
        margin-right: 4em;
    }

    #header {
        display: flex;
        justify-content: space-between;  
    }
    
         
    #menu { 
        display: flex;
        align-self: center;
    }

    #menu > a{
        order: 1;
    }

    .menu-anchor {
        display: flex;
        align-items: center;
    }

    #menu a {
        text-decoration: none;
        color: black;
        border-top: 3px solid white;
        font-weight: bold;
        padding-top: 10px;
        margin-left: 2em;
    }

    #first-bloc {
        margin-top: 1em;
        padding-left: 2em;
        padding-right: 2em;
    }

    #first-bloc-text .classic {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    #first-bloc-last-part {
        margin: 2em;
    }

    #first-bloc-last-part-text {
        display: flex;
        align-items: center;
    }
    
    #filtres {
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 1em;
    }

    #body-search-btn {
        display: initial;
    }

    #body-search-btn-mobile {
        display: none;
    }
    
    .body-hosting {
        padding-top: 2em;
        height: 525px;
    }

    #body-hosting {
        flex-direction: column; 
        padding-right: 2em; 
    }

    .bloc-marseille {
        background-color: #F2F2F2;
    }
    
    #body-hosting-marseille {
        width: auto; 
        margin: auto;
        padding: 1em;
        align-items: center;
    }

    #body-hosting-marseille-one, #body-hosting-marseille-two {
        flex-wrap: wrap;
        justify-content: center;
    } 


    #body-hosting-popular {
        width: auto; 
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
        margin-top: 1em;
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    #body-hosting-popular-logo {
        margin-left: 1em;
    }
    
    .hosting-thumbnail {
        background-color: white;
        width: 250px; 
        height: 175px; 
        padding: 0.3em;
        margin: 1em;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-width: 1em; 
    }

    .hosting-thumbnail-details {
        margin-top: 0.25em;
    }

    .hosting-thumbnail-photo {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        padding: 1px;
        margin-bottom: 0.2em;
        width: 260px;
        height: 100px;
        object-fit: cover;
    }

    #activities-title {
        padding-top: 2em;
        padding-left: 1em;
    }

    #body-activity {
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        max-width: 700px;
    }

    #activity-activities {
        margin: auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    #activities-title {
        padding-top: 2em;
        padding-left: 1em;
    }

    
    .activities-thumbnail-big {
        margin: 1em;
        height: 500px;
        background-color:white;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: 1px 1px 5px #F2F2F2;
    }

    .activities-thumbnail-big-photo {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        width: 325px;
        height: 450px;
        object-fit: cover;
    }

        
    .activities-thumbnail-little {
        background-color: white;
        padding-bottom: 1em;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: 1px 1px 5px #F2F2F2;
    }

    .activities-thumbnail-little-photo {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        width: 300px;
        object-fit: cover;
    }

    .activities-thumbnail-little-photo-one {
        height: 200px;
    }

    .activities-thumbnail-little-photo-two {
        height: 150px;
    }

    .activities-thumbnail-little-photo-three {
        height: 180px;
    }

    .activities-thumbnail-little-photo-four {
        height: 180px;
    }


    .activities-double {
        margin: 1em;
        height: 500px;
    }


    #footer {
        padding-left: 50px;
        padding-top: 50px;
        padding-bottom: 20px;
        display: flex;
        margin-right: 1em;
    }

    #footer div:nth-of-type(2) {
        margin: 0 3em 0 3em;
    }

}

/* Desktop */
@media (min-width: 1415px){
    .container {
        margin: auto;
        padding-left: 1em;
        padding-right: 1em;
    }

    header {
        margin-right: 4em;
    }

    #header {
        display: flex;
        justify-content: space-between;  
    }
    
    #menu a {
        margin-left: 2em;
        text-decoration: none;
        color: black;
        border-top: 3px solid white;
        font-weight: bold;
        padding-top: 10px;
    }

    #body {
        margin-top: 1.5em;
    }
      
    #menu { 
        display: flex;
        align-self: center;
    }

    #menu > a{
        order: 1;
    }

    .menu-anchor {
        display: flex;
        align-items: center;
    }


    #body-hosting-marseille {
        margin-left: 2em;
        width: 60%;
        border-radius: 1em;
        padding-top: 2em;
        height: 525px;
    } 

    #first-bloc {
        padding-left: 2em;
        padding-right: 2em;
    }

    #first-bloc-text .classic {
        margin: 0.5em 0 0.9em 0;
    }

    #first-bloc-last-part {
        margin: 2em;
    }

    #first-bloc-last-part-text {
        display: flex;
        align-items: center;
    }

    #filtres {
        align-items: center;
    }

    #filtres-title {
        margin-right: 1em;
    }

    #body-search-btn-mobile {
        display: none;
    }

    #body-search-btn {
        display: initial;
    }

    #body-hosting {
        padding-right: 2em;
    }

    #body-hosting-marseille a {
        text-decoration: none;
        color: black;
    }

    .bloc-marseille {
    background-color: #F2F2F2;
    }

    #body-hosting-popular {
        width: 21%; 
        padding-right: 2em;
        padding-left: 2em;
        margin-right: 2em;
    }
    
    #body-hosting-popular-logo {
        margin-left: 8em;
    }

    .body-hosting {
        border-radius: 1em;
        padding-top: 2em;
        height: 525px;
    }
    
    .hosting-thumbnail {
        background-color: white;
        width: 260px; 
        height: 175px; 
        padding: 0.3em;
        margin: 1em;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-width: 1em; 
    }

    .hosting-thumbnail-details {
        margin-top: 0.25em;
    }

    .hosting-thumbnail-photo {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        padding: 1px;
        margin-bottom: 0.2em;
        width: 260px;
        height: 100px;
        object-fit: cover;
    }

    #activities-title {
        padding-top: 2em;
        padding-left: 1em;
    }

    .activities-thumbnail-big {
        margin: 1em;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .activities-thumbnail-big-photo {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        width: 325px;
        height: 450px;
        object-fit: cover;
    }

    .activities-thumbnail-big .activities-thumbnail-text {
        padding-bottom: 1em;
    }
     
    .activities-thumbnail-little {
        background-color: white;
        padding-bottom: 1em;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: 1px 1px 5px #F2F2F2;
    }

    .activities-thumbnail-little-photo {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        width: 300px;
        object-fit: cover;
    }

    .activities-thumbnail-little-photo-one {
        height: 200px;
    }

    .activities-thumbnail-little-photo-two {
        height: 150px;
    }

    .activities-thumbnail-little-photo-three {
        height: 180px;
    }

    .activities-thumbnail-little-photo-four {
        height: 180px;
    }


    .activities-double {
        margin: 1em;
        height: 500px;
    }

    #footer {
        padding-left: 50px;
        padding-top: 50px;
        padding-bottom: 20px;
        display: flex;
    }

    #footer div:nth-of-type(2) {
        margin: 0 20em 0 15em;
    }

}