/* GENERAL */
body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
}

.bold {
    font-weight: bold;
}

.thin {
    font-weight: normal;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
}

.bloc {
    background-color: #F2F2F2;
}


/* HEADER */
#menu {
    width: 100%;
    max-width: 440px;
    margin-left: auto;
    margin-top: 1em;
}

#menu a {
    text-decoration: none;
    color: black;
    padding-top: 30px;
    border-top: solid;
    border-color: white;
    font-weight: bold;
}

#menu a:hover {
    border-color: #0065FC;
    color: #0065FC;
}


#menu a:checked {
    text-decoration: black;
}

#register {
    color:#0065FC;
    font-weight: bold;
}

/* BODY */
#body-search-btn {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    display: inline-block;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-top-right-radius: .75em;
    border-bottom-right-radius: .75em;
}

#body-search-btn:hover{
    cursor: pointer;
    background-color: #064db8;
}
  
#body-hosting-marseille {
    width: 65%; 
    padding-right: 5em;
    padding-left: 2em;
    padding-bottom: 5em;
}

#body-hosting-popular {
    width: 21%; 
    padding-right: 1em;
    padding-left: 2em;
    padding-top: 2em;
 }

.body-hosting {
    border-radius: 1em;
    padding-top: 2em;
    margin: auto;
}

.body-hosting a {
    text-decoration: none;
    color: black;
}

.activities {
    margin: 1em;
}

.activity {
    border-radius: 1em;
    box-shadow: 4px 6px 15px -3px #F2F2F2;
}

.filter {
    border: solid;
    border-radius: 3em;
    border-color: #DEEBFF;
    padding: 0.5em;
    margin: 0.5em;
}

.filter:hover {
    cursor: pointer;
    background-color: #DEEBFF;
}

.hosting-thumbnail {
    background-color: white;
    width: 260px; 
    height: 175px; 
    padding: 0.3em;
    margin: 1em;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-width: 1em; 
}

.hosting-thumbnail-text {
    padding-left: 1em;
}

.hosting-thumbnail-photo {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 1px;
    width: 260px;
    height: 100px;
    object-fit: cover;
}

.popular-thumbnail {
    background-color: white;
    width: 260px; 
    height: auto;
    margin: 1em;
    padding-top: 5px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-width: 1em; 
}

.popular-thumbnail-text {
    padding-top: 1em ; 
    margin-left: 0.5em; 
}

.popular-thumbnail-photo {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 1px;
    width: 100px;
    height: 120px;
    object-fit: cover;
}

.show-more:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.425);
}


/* FOOTER */ 

#footer {
    padding-left: 50px;
    padding-right: 360px;
    padding-bottom: 60px;
    padding-top: 50px;
}

#footer ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
}



/* FLEXBOX*/

.df {
    display: flex;
}

.jc-fe {
    justify-content: flex-end;
}

.jc-sa {
    justify-content: space-around;
}

.jc-se {
    justify-content: space-evenly;
}

.jc-sb {
    justify-content: space-between;
}

.jc-s {
    justify-content: start;
}

.fd-r {
    flex-direction: row;
}

.fd-rr {
    flex-direction: row-reverse;
}

.fd-c {
    flex-direction: column;
}

.fd-cr {
    flex-direction: column-reverse;
}

.ta-c {
	text-align: center;
}

.ta-j {
	text-align: justify;
}

.ac-fe {
    align-content: flex-end;
}

.ac-c {
    align-content: center;
}

.ac-fs {
    align-content: flex-start;
   }

.fw-w {
    flex-wrap: wrap;
}