.bgc {
    background-color: aqua;
}

/* POLICE */

.bold {
    font-weight: bold;
}

/* GENERAL */
body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
}

.container {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
}

.bloc {
    background-color: rgb(242, 242, 242);
}

ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
}


/* HEADER */
#menu {
    width: 440px;
    margin-left: 1000px;
    margin-top: 1em;
}

/* BODY */

ul

.bloc-body-hosting {
    border-radius: 1em;
    padding-right: 3em;
    padding-left: 3em;
    padding-top: 2em;
}

.activities {
    margin: 1em;
}

.activity {
    background-color: white;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);;
}


/* FOOTER */ 

.footer {
    padding-left: 50px;
    padding-right: 360px;
    padding-bottom: 60px;
    padding-top: 50px;
}



/* FLEXBOX*/

.df {
    display: flex;
}

.jc-fe {
    justify-content: flex-end;
}

.jc-sa {
    justify-content: space-around;
}

.jc-se {
    justify-content: space-evenly;
}

.jc-sb {
    justify-content: space-between;
}

.jc-s {
    justify-content: start;
}

.fd-r {
    flex-direction: row;
}

.fd-rr {
    flex-direction: row-reverse;
}

.fd-c {
    flex-direction: column;
}

.fd-cr {
    flex-direction: column-reverse;
}

.ta-c {
	text-align: center;
}

.ta-j {
	text-align: justify;
}

.ac-fe {
    align-content: flex-end;
}

.ac-c {
    align-content: center;
}

.ac-fs {
    align-content: flex-start;
   }

.fw-w {
    flex-wrap: wrap;
}